*{
    font-family: 'Roboto', sans-serif;
text-align: center;
color: black;
}

.typeabc {
    display: inline-block;
    width: 720px;
    height: 920;


}

body{
    background-color: rgb(24, 103, 152);
}

.wyatt {
    display: inline-block;
    width: 800px;
    height: 90px;
    background-color: red;
    border: solid black;
    border-radius: 12px;
}

