*{
    font-family: 'Roboto', sans-serif;
text-align: center;
color: black;
}

.typeabc {
    display: inline-block;
    width: 720px;
    height: 920;


}

body{
    background-color: lightskyblue;
}
